# Created by .ignore support plugin (hsz.mobi)
/movies/migrations/
.gitignore
.idea/
kinoreel_backend/__init__.pyc
kinoreel_backend/__pycache__/
kinoreel_backend/settings.pyc
kinoreel_backend/urls.pyc
/htmlcov/
/.coverage
