# Created by .ignore support plugin (hsz.mobi)
/movies/migrations/
.gitignore
/.idea/
kinoreel_backend/__init__.pyc
kinoreel_backend/__pycache__/
kinoreel_backend/settings.pyc
kinoreel_backend/urls.pyc
/htmlcov/
/.coverage
/db.sqlite3
/kinoreel_backend/settings/GLOBALS.py
/kinoreel_backend/settings/export_globals.sh
/venv
kinoreel_backend/settings/__pycache__/
movies/__pycache__/

